<h1>All articles</h1>
<ul id = articles>
  <% @articles.each do |a| %>
    <li>
    <%= link_to a.title, article_path(a), class: "article_title" %>
    </li>
    <% end %>
    </ul>
<%= link_to "Create a new article", new_article_path, class: "new_article" %>
    